body {
  font-size: 16px;
  background-color: #212121;
}

.nav-wrapper {
  font-family: 'Staatliches';
  font-size: xx-large;
  background-color: #0f292f;
}

.card {
  border: 10px solid #501F3A;
}

.card-title {
  font-family: 'Caveat Brush';
}

#contactInfo {
  padding: 10px;
}

#icon {
  padding-right: 10px;
}

footer.page-footer {
  background-color: #0f292f;
}